[data-wikilookup] {
	border-bottom: 1px dashed #666;
}

/* Popup */
.wl-pageInfoWidget-box:first-child {
	padding: 0 1em 1em 1em;
}

.wl-pageInfoWidget-content-pending,
.wl-pageInfoWidget-content-error {
	padding: 1em;
}
