.wl-pageInfoWidget {
	&-view-title {
		font-size: 1.5em;
		font-weight: bold;
		margin-bottom: 0.5em;
	}

	&-content-pending,
	&-content-error {
		padding: 1em;
	}

	&-content-ready {
		display: flex;

		.wl-pageInfoWidget-box {
			z-index: 2;

			&:first-child {
				position: relative;
				padding: 1em;

				[dir="rtl"] & {
					padding: 1em 1em 1em 0;
				}

				.wl-pageInfoWidget-noimage & {
					padding: 1em;
				}

				.wl-pageInfoWidget-view-logo {
					.wl-pageInfoWidget-wikipedia & {
						.wl-wikipedia-logo( auto 20px, 90%, 0 );
					}

					// Non-wikipedia logo
					.wl-pageInfoWidget-externalwiki.wl-pageInfoWidget-customlogo & {
						[dir="ltr"] & {
							text-align: right;
							padding-right: 1em;
						}
						[dir="rtl"] & {
							text-align: left;
							padding-left: 1em;
						}

						img {
							max-height: 50px;
						}
					}
				}

			}
		}
	}
	.wl-pageInfoWidget-view {
		&-content {
			position: relative;
			overflow-y: hidden;
			max-height: 300px;
			min-height: 100px;

			p {
				margin: 0.4em 0.5em 0 0;
				[dir="rtl"] {
					margin: 0.4em 0 0 0.5em;
				}
			}
		}

		&-link {
			font-size: 0.8em;
		}

		&-fader {
			position: absolute;
			bottom: 0;
			left: 0;
			height: 5em;
			width: 100%;
			/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
			background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
		}
	}


	&-state {
		&-pending {
			.wl-pageInfoWidget-content-error,
			.wl-pageInfoWidget-content-ready {
				display: none;
			}
		}

		&-error {
			.wl-pageInfoWidget-content-pending,
			.wl-pageInfoWidget-content-ready {
				display: none;
			}
		}

		&-ready {
			.wl-pageInfoWidget-content-pending,
			.wl-pageInfoWidget-content-error {
				display: none;
			}
		}
	}
}
